body {
    margin:0;
    font-family:'Segoe UI';
    display:flex;
}

/* SIDEBAR */
.sidebar {
    width:250px;
    background:linear-gradient(180deg,#1b5e20,#4caf50);
    color:white;
    height:100vh;
    padding:20px;
}

/* MAIN */
.main {
    flex:1;
    padding:20px;
    background:#f4f6f8;
}

/* TOP */
.top {
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

/* GRID */
.grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

/* CARD */
.card {
    background:white;
    border-radius:15px;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    background:#2e7d32;
    color:white;
    padding:10px;
    border-radius:10px;
}

/* INPUTS */
.inputs {
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    margin-top:10px;
}

input {
    width:35px;
    height:35px;
    text-align:center;
    border-radius:6px;
    border:1px solid #ccc;
}
